#footer_wrap {
  width: 100%;
  height: 140px;
  background: black;
  position: relative;
  left: 0px;
  bottom: 0px;
}

footer {
  width: 100%;
  height: 140px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

p#copy_right {
  font: normal 0.75rem "Noto sans KR";
  color: white;
}