div#header_wrap {
  width: 100%;
  height: 80px;
  background: transparent;

  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 20;
}

header {
  width: 100%; 
  height: 80px;

  position: relative;
  left: 0px;
  top: 0px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

div#mainmenu_wrap {
  width: 100%;
  max-width: 1200px;
  height: 80px;
  background: transparent;

  position: relative;
  left: 0px;
  top: 0px;

}

header h1 {
  width: 30%;
  height: 80px;
  position: absolute;
  left: 20px;
  top: 0px;

  float: left;
}

header h1 span {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;

  font: normal 40px "Island Moments";
  color: white
}

nav#mainmenu {
  width: 60%;
  height: 80px;
  position: absolute;
  right: 0px;
  top: 0px;

  float: left;
}

ul#mainmenu_list {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-right: 20px;
  position: relative;
  left: 0;
  top: 0;
}

ul#mainmenu_list > li {
  position: relative;
  left: 0;
  top: 0;
}

ul#mainmenu_list > li.selected::after {
  content:"";
  width: 2rem;
  height: 2px;
  background: #AACB73;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 2.3rem;
}
ul#mainmenu_list > li.selected:nth-child(1)::after {
  width: 2rem;
}
ul#mainmenu_list > li.selected:nth-child(2)::after {
  width: 4rem;
}
ul#mainmenu_list > li.selected:nth-child(3)::after {
  width: 3rem;
}
ul#mainmenu_list > li.selected:nth-child(4)::after {
  width: 2rem;
}

ul#mainmenu_list > li > a {
  font: normal 16px "Noto sans KR";
  color: white;
}

ul#mainmenu_list > li > a.selected::after {
  content:"";
  width: 2rem;
  height: 1px;
  background: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 2.3rem;
}
ul#mainmenu_list > li > a.selected:nth-child(1)::after {
  width: 2rem;
}
ul#mainmenu_list > li > a.selected:nth-child(2)::after {
  width: 4rem;
}
ul#mainmenu_list > li > a.selected:nth-child(3)::after {
  width: 3rem;
}
ul#mainmenu_list > li > a.selected:nth-child(4)::after {
  width: 2rem;
}
.submenu_wrap{
  display: none;
}

.submenu_wrap.selected {
  width: 100%;
  height: 16rem;  
  display: block;
  opacity: 0;
  position: relative;
  left: 0;
  top: 0;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  transition: all 0.2s ease-out;

}
.submenu_list_withus_wrap {
  width: 40vw;
  max-width: 500px;
  height: 12.5rem;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
div.submenu_list_wrap {
  width: auto;
  height: 100%;
  position: relative;
  left: 20px;
  top: 0;
}
.submenu_explain_el {
  color: #b8b8b8;
  font: normal 1rem "Noto sans KR";
  margin-bottom: 2rem;
  position: relative;
  left: 0;
  top: 0;
}
.submenu_explain_el::after {
  content:"";
  width: 120%;
  height: 1px;
  background: #b8b8b8;
  position: absolute;
  left: 0;
  bottom: -1rem;
}

.places {
  color: black;
  font: normal 1rem/2.4rem "Noto sans KR";
}

.with_us_wrap {
  width: 10rem;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
}
.with_us_wrap p {
  font: normal 1rem "Noto sans KR";
  color: #6f6f6f;
  position: absolute;
  left: 0;
  bottom: 0;
}

.submenu_img_wrap {
  width: 53vw;
  max-width: 640px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.submenu_img_content {
  width: 47%;
  height: 12.5rem;
  position: relative;
  left: 0;
  top: 0;
}

.submenu_img_content img {
  width:100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

div.place_text_wrap {
  width: 100%;
  height: 4rem;
  position: absolute;
  left: 0;
  bottom: 1vw;
}

p.place_name {
  color: white;
  font: bold 1.2rem "Noto sans KR";
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 1.3vw;
  top: 0;
}

p.visit_button {
  color: white;
  font: normal 1rem "Noto sans KR";
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 1.3vw;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  margin-right: 2rem;
}

.visit_text {
  padding-right: 0rem;
  transition: all 0.2s ease-out;
}

.submenu_img_content:hover .visit_text {
  padding-right: 0.3rem;
}



.arrow_right_icon {
  width: 1rem;
  height: 1rem;
  position: relative;
  left: 0.5rem;
  top: 0.35rem;
}
