div#header_wrap {
  width: 100%;
  height: 80px;
  background: transparent;

  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 20;
  border: solid 2px blue;
  
  height: 80px;
  background: white;
}

header {
  width: 100%; 
  height: 80px;

  position: relative;
  left: 0px;
  top: 0px;
  border: solid 2px palevioletred;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  
}

div#mainmenu_wrap {
  width: 100%;
  max-width: 1200px;
  height: 80px;
  background: transparent;

  position: relative;
  left: 0px;
  top: 0px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  border: solid 2px palevioletred;
}

header h1 {
  width: 30%;
  height: 80px;
  position: absolute;
  left: 20px;
  top: 0px;

  float: left;
}

header h1 span {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;

  font: normal 40px "Island Moments";
  color: white
}

nav#mainmenu {
  width: 60%;
  height: 80px;
  position: absolute;
  right: 0px;
  top: 0px;

  float: left;
}

ul#mainmenu_list {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-right: 20px;
  position: relative;
  left: 0;
  top: 0;
}

ul#mainmenu_list > li {
  position: relative;
  left: 0;
  top: 0;
}

ul#mainmenu_list > li.selected::after {
  content:"";
  width: 2rem;
  height: 2px;
  background: #AACB73;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 2.3rem;
}
ul#mainmenu_list > li.selected:nth-child(1)::after {
  width: 2rem;
}
ul#mainmenu_list > li.selected:nth-child(2)::after {
  width: 4rem;
}
ul#mainmenu_list > li.selected:nth-child(3)::after {
  width: 3rem;
}
ul#mainmenu_list > li.selected:nth-child(4)::after {
  width: 2rem;
}

ul#mainmenu_list > li > a {
  font: normal 16px "Noto sans KR";
  color: white;
}

ul#mainmenu_list > li > a.selected::after {
  content:"";
  width: 2rem;
  height: 1px;
  background: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 2.3rem;
}
ul#mainmenu_list > li > a.selected:nth-child(1)::after {
  width: 2rem;
}
ul#mainmenu_list > li > a.selected:nth-child(2)::after {
  width: 4rem;
}
ul#mainmenu_list > li > a.selected:nth-child(3)::after {
  width: 3rem;
}
ul#mainmenu_list > li > a.selected:nth-child(4)::after {
  width: 2rem;
}


