section#curriculum_section {
  width: 100%;
  height: 700px;
  position: relative;
  left: 0px;
  top: 0px;
  margin-top: 4rem;
  border: solid 2px blue;
  box-sizing: border-box;
}

.title_wrap {
  width: 100%;
  height: 200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 8vw;
  text-align: center;
}

ul.curriculums_list {
  width: 100%;
  height: 500px;

  position: relative;
  left: 0px;
  top: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  gap: 10px;
  padding: 0rem 5%;
  box-sizing: border-box;
  border: solid 2px palevioletred;
  box-sizing: border-box;
}

ul.curriculums_list > li {
  width: 320px;
  height: 120px;

  position: relative;
  left: 0px;
  top: 0px;
}

.curri_icon {
  font-size: 35px;
  fill: #AACB73;
  position: relative;
  left: 23px;
  top: 0;
  z-index: 1;
}

.curri_title {
  font: normal 18px "Noto sans KR";
  color: black;
  position: absolute;
  left: 70px;
  top: 8px;
}

.curri_title::before {
  content:"";
  width: 35px;
  height: 35px;
  background: #FFD4D4;
  border: solid 10px none;
  border-radius: 50%;
  position: absolute;
  left: -65px;
  top: 0;
}
.curri_title::after {
  content:"";
  width: 1px;
  height: 90px;
  background: #AACB73;
  position: absolute;
  left: -45px;
  top: 50px;
}

.curriculums_list li:nth-child(3) .curri_title::after{
  display: none;
}



.curri_subtitle {
  width: 250px;
  height: 70px;
  font: normal 14px "Noto sans KR";
  color: #444;
  position: absolute;
  left: 50px;
  top: 50px;
}
