section#review_section {
  width: 100%;
  height: 750px;
  position: relative;
  left: 0px;
  top: 0px;
  margin-top: 200px;
}

div.title_wrap {
  width: 320px;
  height: 130px;

  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 0rem;
}

div.review_wrap {
  width: 320px;
  height: 500px;
  position: relative;
  left: 0;
  top: 0;
  margin: 0 auto;
  margin-top: 70px;
}

ul.review_list {
  width: 100%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  gap: 30px;
}
ul.review_list > li {
  width: 320px;
  height: 200px;
  position: relative;
  left: 0;
  top: 0;
}

span.person_icon {
  width: 40px;
  height: 40px;
  background: url('/public/images/person_icon.png') center no-repeat;
  background-size: cover;
  position: absolute;
  left: 20px;
  top: 0px;
  z-index: 1;
  display: none;
}


div.review_box {
  width: 320px;
  height: 224px;
  border-radius: 5px;
  background: #FFFFE8;
  padding: 1.8rem;
  box-sizing: border-box;
  position: absolute;
  right: 0px;
  bottom: 0px;
  box-shadow: 1px 1px 6px 3px rgba(1, 1, 1, 0.15);
}

.review_marks_icon {
  width: 1.85rem;
  height: 1.32rem;
  background: url('/public/images/review_quotation_mark.png') no-repeat;
  background-size: cover;
  margin-left: 0.5rem;
}

.review {
  font: normal 1rem "Noto sans KR";
  padding-top: 1.2rem;
  text-align: justify;
}

.reviewers_info {
  position: absolute;
  right: 1.5rem;
  bottom: 1.1rem;
  text-align: center;
}

.reviewer {
  font: bold 1rem "Noto sans KR";
  padding-bottom: 0.2rem;
}

.reviewers_location {
  font: normal 0.75rem "Noto sans KR";
}

