section#visit_place_images{
  width: 100%;
  height: 3000px;
  position: relative;
  left: 0;
  top: 0;
}
div.sticky_wrap {
  width: 90%;
  height: 700px;
  margin: 0 auto;
  position: sticky;
  left: 0;
  top: 60px;
}
div.title_wrap {
  width: 100%;
  height: auto;
  position: relative;
  left: 0;
  top: 0;
  margin-bottom: 20px;
}
.title_wrap > p{
  padding-bottom: 1rem;
}

div.img_nav_wrap {
  width: 100%;
  height: 550px;
}

div.img_wrap {
  width: 100%;
  height: 230px;
  position: relative;
  left: 0;
  top: 0;
}
div.img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;

  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.4s ease-out;
}
div.img_wrap img.selected {
  opacity: 1;
  transition: all 0.4s ease-out;
}


div.nav_wrap {
  width: 100%;
  height: 200px;
  margin-top: 10px;
}

div.nav_wrap p {
  width: 50%;
  height: 50px;
  float: left;
  font: normal 18px/45px "Noto sans KR";
  text-align: center;
  color: gray;
  position: relative;
  left: 0;
  top: 0;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

div.nav_wrap p.selected {
  color: black;
}