section#visit_section {
  width: 100%;
  height: 700px;
  position: relative;
  left: 0px;
  top: 0px;
}

div.title_wrap {
  width: 100%;
  height: 100px;
  text-align: center;
  position: relative;
  left: 0;
  top: 70px;
}


div#visit_contents_gallery_wrap {
  width: 100%;
  height: 400px;
  position: relative;
  left: 0;
  top: 100px;
  overflow: hidden;
}

div#visit_contents {
  width: 160px;
  height: 300px;
  position: absolute;
  left: 30px;
  top: 13%;
  z-index: 20;
}

.visit_gallery_controller {
  position: relative;
  left: 0;
  top: 0;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.visit_gallery_controller span {
  font: normal 2rem "Noto sans KR";
  color: #444;
  padding: 0.1rem;
  position: relative;
  top: -0.3rem;
}

.angle_button {
  font-size: 2rem;
  color: black;
  transition: all 0.2s ease-out;
}

.angle_button.disable {
  color: rgb(163, 163, 163);
}

.visit_title {
  font: bold 1.7rem "Noto sans KR";
  color: black;
  position: relative;
  left: 0;
  top: 4px;
}

.visit_subtitle {
  font: normal 0.875rem "Noto sans KR";
  color: #444;
  line-height: 160%;
  position: relative;
  left: 0;
  top: 20px;
}

div.white_gradient_bg {
  width: 54%;
  height: 100%;
  background: rgb(255,255,232); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(255,255,232,1) 0%, rgba(255,255,232,1) 85%, rgba(255,255,232,0) 90%, rgba(255,255,232,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(255,255,232,1) 0%, rgba(255,255,232,1) 85%,rgba(255,255,232,0) 90%,rgba(255,255,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(255,255,232,1) 0%, rgba(255,255,232,1) 85%,rgba(255,255,232,0) 90%,rgba(255,255,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  position: relative;
  left: 0;
  top: 0;
  z-index: 10;
}

/* 버튼 디자인 -> App.css */
div.visit_gallery {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 90px;
  top: 60px;
}

.visit_swiper img {
  width: 100%;
  height: 80%;
  object-fit: contain;
}

